@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff !important; 
}

.prata-family {
    font-family: "Prata", serif !important;
}

.inter-family {
    font-family: "Inter", sans-serif !important;
}

.container{
    max-width: 1380px;
    padding: 30px 2%;
    margin: 0 auto;
}